<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}SideQuests{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<header>
    {% if session.get('logged_in') %}
    <nav class="navbar">
        <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
    </nav>
    {% endif %}
</header>

<body>

    {% block content %}
    {% endblock %}

    <!-- Edit Modal -->
    <div id="edit-modal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeEditModal()">&times;</span>
            <h2 id="modal-title">Edit</h2>
            <form id="edit-form">
                <input type="text" id="edit-input" placeholder="Enter new name" required>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>

    <!-- Include SortableJS -->
    <script src="{{ url_for('static', filename='js/Sortable.min.js') }}"></script>

    <!-- Include main.js -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>